name: Convert recipes flow

on:
  push:
  workflow_dispatch:

jobs:
  build-gradle-project:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout project sources
      uses: actions/checkout@v3
    - name: Setup Gradle
      uses: gradle/gradle-build-action@v2
    - name: Initialize mandatory git config and checkout
      run: |
       git checkout -b agp8.0.0-alpha10
       git config user.name "GitHub Actions"
       git config user.email noreply@github.com
    - name: Run build with Gradle Wrapper
      run: | 
         cd convert-tool/ 
         ./gradlew standaloneJar
         tree
    - name: Run converter
      run: | 
         java -jar convert-tool/app/build/libs/recipes-converter-all.jar \
         --action convert --sourceAll recipes \
          --destination Recipes \
          --agpVersion 8.0.0-alpha10 --gradleVersion 7.5.1 --overwrite
          tree
    - name: Cleaning folders and pushing
      run: |
       git add Recipes/*
       rm -rf ./convert-tool/*
       git rm -r --cached ./convert-tool/*
       rm -rf ./gradle-resources/*
       git rm -r --cached ./gradle-resources/*
       rm -rf ./.github/*
       git rm -r --cached ./.github/*
       rm -rf ./recipes/*
       git rm -r --cached ./recipes/*
       git commit --message "Prepare release"
    - name: Push new branch
      run: git push --set-upstream origin agp8.0.0-alpha10
